{% if site.twitter %}
<a href="{{ site.twitter }}" target="_blank" rel="nofollow"><i class="fab fa-twitter"></i></a>
{% endif %}
{% if site.facebook %}
<a href="{{ site.facebook }}" target="_blank" rel="nofollow"><i class="fab fa-facebook"></i></a>
{% endif %}
{% if site.instagram %}
<a href="{{ site.instagram }}" target="_blank" rel="nofollow"><i class="fab fa-instagram"></i></a>
{% endif %}
{% if site.pinterest %}
<a href="{{ site.pinterest }}" target="_blank" rel="nofollow"><i class="fab fa-pinterest"></i></a>
{% endif %}
{% if site.youtube %}
<a href="{{ site.youtube }}" target="_blank" rel="nofollow"><i class="fab fa-youtube"></i></a>
{% endif %}
