<div class="space-y-2">
    <a href="{{ theme.url }}"><img class="rounded-md" src="{{ theme.cover }}"></a>
    <div class="flex justify-between">
        <div><a href="{{ theme.url }}">{{ theme.name }}</a></div>
        <div><span class="text-primary-500 bg-primary-50 rounded-md">{{ theme.price }}</span></div>
    </div>
    <div class="flex justify-between text-sm">
        <div class="text-neutral-400">{{ theme.description }}</div>
        <div><span>{{ theme.system }}</span></div>
    </div>
</div>
