<!DOCTYPE html>
<html lang="{{ site.lang }}">
{% include head.html %}
<body>
{% include header.html %}
<main>
    <div class="about_banner bg-cover">
        <div class="max-w-7xl mx-auto px-4 py-24">
            <h1 class="text-white text-center text-xl">About</h1>
        </div>
    </div>
    <div class="max-w-7xl mx-auto px-4 my-16">
        <div class="text-center mb-16">
            <h2 class="text-4xl">We Are The World Best SEO</h2>
            <div class="text-neutral-400 my-4">Neque, pulvinar vestibulum non aliquam.</div>
        </div>
        <div class="grid md:grid-cols-2 gap-8">
            <div class="pt-8">
                <div class="text-secondary-500 uppercase mb-4">SMART FEATURES & FUNCTIONALITIES</div>
                <h2 class="text-4xl md:w-10/12">We Are The World Best SEO
                    Service Company</h2>
                <div class="text-neutral-400 text-sm py-4 md:w-10/12">Exercitationem et est ut modi molestiae quia.
                    Veniam
                    aut veniam ipsam laborum ut voluptatem qui
                    dolorem. Incidunt nam tempore sequi doloribus et qui facilis ut. Ut ad fugit veritatis nesciunt amet
                    consequatur. Deleniti asperiores quas autem. Explicabo iusto praesentium eos commodi ea et.
                </div>
            </div>
            <div>
                <img src="/images/about1.svg">
            </div>
        </div>

    </div>
    <div class="max-w-7xl mx-auto px-4 my-16">
        <div class="grid md:grid-cols-2 gap-8">
            <div>
                <img src="/images/about2.svg">
            </div>
            <div class="pt-8">
                <div class="text-secondary-500 uppercase mb-4">SMART FEATURES & FUNCTIONALITIES</div>
                <h2 class="text-4xl md:w-10/12">Rank You Site At The Top From Others</h2>
                <div class="text-neutral-400 text-sm py-4">Exercitationem et est ut modi molestiae quia.
                    Veniam
                    aut veniam ipsam laborum ut voluptatem qui
                    dolorem. Incidunt nam tempore sequi doloribus et qui facilis ut. Ut ad fugit veritatis nesciunt amet
                    consequatur. Deleniti asperiores quas autem. Explicabo iusto praesentium eos commodi ea et.
                </div>
            </div>
        </div>
    </div>
    <div class="max-w-7xl mx-auto px-4 my-16">
        <div class="text-center mb-16">
            <h2 class="text-4xl">Etiam nulla lectus amet </h2>
            <div class="text-neutral-400 my-4">Neque, pulvinar vestibulum non aliquam.</div>
        </div>
        <div class="grid md:grid-cols-3 gap-8">
            <div class="text-center p-6">
                <span
                    class="bg-primary-200 text-secondary-500 p-4 rounded-full"><i
                    class="w-5 h-5 fas fa-chart-line"></i></span>
                <h2 class="mt-6 mb-2">Web Analytics</h2>
                <div class="text-neutral-400 text-sm">Consequatur rerum quibusdam omnis labore ipsam omnis aliquam et
                    blanditiis. Omnis in natus amet.
                </div>
            </div>
            <div class="text-center p-6">
                <span
                    class="bg-primary-200 text-secondary-500 p-4 rounded-full"><i
                    class="w-5 h-5 fas fa-bullseye"></i></span>
                <h2 class="mt-6 mb-2">Keyword Targeting</h2>
                <div class="text-neutral-400 text-sm">Consequatur rerum quibusdam omnis labore ipsam omnis aliquam et
                    blanditiis. Omnis in natus amet.
                </div>
            </div>
            <div class="text-center p-6">
                <span
                    class="bg-primary-200 text-secondary-500 p-4 rounded-full"><i
                    class="w-5 h-5 fas fa-money-bill-trend-up"></i></span>
                <h2 class="mt-6 mb-2">E-mail Marketing</h2>
                <div class="text-neutral-400 text-sm">Consequatur rerum quibusdam omnis labore ipsam omnis aliquam et
                    blanditiis. Omnis in natus amet.
                </div>
            </div>
        </div>
    </div>
    <div class="max-w-7xl mx-auto px-4 my-16">
        <div class="grid md:grid-cols-2 gap-8">
            <div class="md:flex md:flex-row space-x-4 bg-neutral-50 p-8 rounded-md">
                <div class="mt-4 text-center"><span
                    class="bg-primary-200 text-secondary-500 p-4 rounded-full"><i
                    class="w-5 h-5 fas fa-money-bill-trend-up"></i></span></div>
                <div class="mt-8 md:mt-0">
                    <h3 class="text-xl mb-2">Fastest and Easy Platform</h3>
                    <div class="text-neutral-500">Sunt dicta et impedit. Similique iste consequatur voluptas
                        voluptatibus corporis. Nisi fuga qui
                        quasi assumenda. Libero dolores aut autem harum aspernatur magni eaque. Commodi ab molestiae et
                        doloremque sint.
                    </div>
                </div>
            </div>
            <div class="md:flex md:flex-row space-x-4 bg-neutral-50 p-8 rounded-md">
                <div class="mt-4 text-center"><span
                    class="bg-primary-200 text-secondary-500 p-4 rounded-full"><i
                    class="w-5 h-5 fas fa-money-bill-trend-up"></i></span></div>
                <div class="mt-8 md:mt-0">
                    <h3 class="text-xl mb-2">More 1 Million People Use It</h3>
                    <div class="text-neutral-500">Sunt dicta et impedit. Similique iste consequatur voluptas
                        voluptatibus corporis. Nisi fuga qui
                        quasi assumenda. Libero dolores aut autem harum aspernatur magni eaque. Commodi ab molestiae et
                        doloremque sint.
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% include sidebar.html %}
{% include footer.html %}
</body>
</html>
