<!DOCTYPE html>
<html lang="{{ site.lang }}">
{% include head.html %}
<body>
{% include header.html %}
<main>
    <div class="max-w-7xl mx-auto px-4 mt-4 mb-16">
        <div class="grid md:grid-cols-4 gap-4">
            <div class="md:col-span-3 space-y-4 mb-4">
                <div class="relative">
                    <a href="#"><img class="w-full rounded-md" src="/images/ads/ad.png"></a>
                    <div class="absolute left-4 bottom-4">
                        <a class="text-white" href="#"><h2 class="text-2xl">Richird Norton photorealistic rendering as
                            real photos</h2></a>
                        <div class="text-neutral-100">08.08.2021</div>
                    </div>
                </div>
                <div>
                    <h2 class="text-2xl mb-4">All Blogs</h2>
                    <div>
                        {% if paginator %}
                        {% assign posts = paginator.posts %}
                        {% else %}
                        {% assign posts = site.posts %}
                        {% endif %}
                        <div class="grid md:grid-cols-3 gap-4">
                            {% for post in posts %}
                            {% include post.html %}
                            {% endfor %}
                        </div>
                        {% if paginator %}
                        {% include paginator.html %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="md:col-span-1 space-y-4">
                {% include ads.html %}
            </div>
        </div>
    </div>
</main>
{% include sidebar.html %}
{% include footer.html %}
</body>
</html>
