<!DOCTYPE html>
<html lang="{{ site.lang }}">
{% include head.html %}
<body>
{% include header.html %}
<main>
    <div class="max-w-7xl mx-auto px-4 mt-4 mb-8">
        <div class="grid md:grid-cols-2 gap-8">
            <div>
                <div class="mt-4 md:mt-8 mb-4 text-neutral-500">{{ page.date | date: "%b %d, %Y" }}</div>
                <h1 class="text-5xl md:w-10/12">{{ page.title}}</h1>
            </div>
            <div>
                {% if page.cover %}
                <img class="w-full rounded-md" src="/images/ads/ad.png">
                {% else %}
                <img class="rounded-t-lg" alt="" src="/images/cover_2_placeholder.svg">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="max-w-7xl mx-auto px-4 mb-16">
        <div class="grid md:grid-cols-4 gap-8">
            <div class="md:col-span-3 overflow-auto">
                <div class="markdown-body">
                    {{ content }}
                </div>
            </div>
            <div class="md:col-span-1 space-y-4">
                {% include ads.html %}
            </div>
        </div>
    </div>
</main>
{% include sidebar.html %}
{% include footer.html %}
</body>
</html>
