<!DOCTYPE html>
<html lang="{{ site.lang }}">
{% include head.html %}
<body>
{% include header.html %}
<main>
    <div class="bg-primary-500">
        <div class="max-w-7xl mx-auto px-4 mb-8">
            <div class="grid md:grid-cols-3 gap-8 py-16">
                <div class="md:pr-4">
                    <h1 class="text-5xl text-white leading-tight mb-4">Ready to take your SEO to the next level?</h1>
                    <p class="text-neutral-200 mb-8">Great software that allows you to chat from any place at any time
                        without any interruption.</p>
                    <a class="bg-secondary-500 rounded-full py-2 px-6 text-white hover:bg-secondary-400 hover:text-white"
                       href="#">Join US
                        Now</a>
                </div>
                <div class="md:col-span-2 md:pl-8">
                    <img class="w-full" src="/images/banner.svg">
                </div>
            </div>
        </div>
    </div>
    <div class="max-w-7xl mx-auto px-4 my-16">
        <div class="grid md:grid-cols-3 gap-8">
            <div class="group text-center p-6 border border-neutral-50 rounded-md hover:shadow-sm">
                <span
                    class="bg-primary-200 text-secondary-500 group-hover:bg-primary-500 group-hover:text-white p-4 rounded-full"><i
                    class="w-5 h-5 fas fa-edit"></i></span>
                <h2 class="mt-6 mb-2">Guest Post Writing</h2>
                <div class="text-neutral-400 text-sm">Consequatur rerum quibusdam omnis labore ipsam omnis aliquam et
                    blanditiis. Omnis in natus amet.
                </div>
            </div>
            <div class="group text-center p-6 border border-neutral-50 rounded-md hover:shadow-sm">
                <span
                    class="bg-primary-200 text-secondary-500 group-hover:bg-primary-500 group-hover:text-white p-4 rounded-full"><i
                    class="w-5 h-5 fas fa-bullhorn"></i></span>
                <h2 class="mt-6 mb-2">Guest Post Publish</h2>
                <div class="text-neutral-400 text-sm">Consequatur rerum quibusdam omnis labore ipsam omnis aliquam et
                    blanditiis. Omnis in natus amet.
                </div>
            </div>
            <div class="group text-center p-6 border border-neutral-50 rounded-md hover:shadow-sm">
                <span
                    class="bg-primary-200 text-secondary-500 group-hover:bg-primary-500 group-hover:text-white p-4 rounded-full"><i
                    class="w-5 h-5 fas fa-earth-asia"></i></span>
                <h2 class="mt-6 mb-2">SEO Hosting</h2>
                <div class="text-neutral-400 text-sm">Consequatur rerum quibusdam omnis labore ipsam omnis aliquam et
                    blanditiis. Omnis in natus amet.
                </div>
            </div>
            <div class="group text-center p-6 border border-neutral-50 rounded-md hover:shadow-sm">
                <span
                    class="bg-primary-200 text-secondary-500 group-hover:bg-primary-500 group-hover:text-white p-4 rounded-full"><i
                    class="w-5 h-5 fas fa-arrow-up-right-dots"></i></span>
                <h2 class="mt-6 mb-2">Website Promotion</h2>
                <div class="text-neutral-400 text-sm">Consequatur rerum quibusdam omnis labore ipsam omnis aliquam et
                    blanditiis. Omnis in natus amet.
                </div>
            </div>
            <div class="group text-center p-6 border border-neutral-50 rounded-md hover:shadow-sm">
                <span
                    class="bg-primary-200 text-secondary-500 group-hover:bg-primary-500 group-hover:text-white p-4 rounded-full"><i
                    class="w-5 h-5 fas fa-sitemap"></i></span>
                <h2 class="mt-6 mb-2">Website Development</h2>
                <div class="text-neutral-400 text-sm">Consequatur rerum quibusdam omnis labore ipsam omnis aliquam et
                    blanditiis. Omnis in natus amet.
                </div>
            </div>
            <div class="group text-center p-6 border border-neutral-50 rounded-md hover:shadow-sm">
                <span
                    class="bg-primary-200 text-secondary-500 group-hover:bg-primary-500 group-hover:text-white p-4 rounded-full"><i
                    class="w-5 h-5 fas fa-rotate"></i></span>
                <h2 class="mt-6 mb-2">Website Operation</h2>
                <div class="text-neutral-400 text-sm">Consequatur rerum quibusdam omnis labore ipsam omnis aliquam et
                    blanditiis. Omnis in natus amet.
                </div>
            </div>
            <div class="group text-center p-6 border border-neutral-50 rounded-md hover:shadow-sm">
                <span
                    class="bg-primary-200 text-secondary-500 group-hover:bg-primary-500 group-hover:text-white p-4 rounded-full"><i
                    class="w-5 h-5 fas fa-registered"></i></span>
                <h2 class="mt-6 mb-2">Trademark Registered</h2>
                <div class="text-neutral-400 text-sm">Consequatur rerum quibusdam omnis labore ipsam omnis aliquam et
                    blanditiis. Omnis in natus amet.
                </div>
            </div>
            <div class="group text-center p-6 border border-neutral-50 rounded-md hover:shadow-sm">
                <span
                    class="bg-primary-200 text-secondary-500 group-hover:bg-primary-500 group-hover:text-white p-4 rounded-full"><i
                    class="w-5 h-5 fab fa-creative-commons"></i></span>
                <h2 class="mt-6 mb-2">Company Registered </h2>
                <div class="text-neutral-400 text-sm">Consequatur rerum quibusdam omnis labore ipsam omnis aliquam et
                    blanditiis. Omnis in natus amet.
                </div>
            </div>
            <div class="group text-center p-6 border border-neutral-50 rounded-md hover:shadow-sm">
                <span
                    class="bg-primary-200 text-secondary-500 group-hover:bg-primary-500 group-hover:text-white p-4 rounded-full"><i
                    class="w-5 h-5 fab fa-stripe-s"></i></span>
                <h2 class="mt-6 mb-2">Stripe Registered</h2>
                <div class="text-neutral-400 text-sm">Consequatur rerum quibusdam omnis labore ipsam omnis aliquam et
                    blanditiis. Omnis in natus amet.
                </div>
            </div>
        </div>
    </div>
    <div class="max-w-7xl mx-auto px-4 my-16">
        <div class="grid md:grid-cols-2 gap-8">
            <div>
                <img src="/images/banner1.svg">
            </div>
            <div class="pt-8">
                <div class="text-secondary-500 uppercase mb-4">SMART FEATURES & FUNCTIONALITIES</div>
                <h2 class="text-4xl">Search engine optimization with 100% ROI guaranteed</h2>
                <div class="text-neutral-400 text-sm py-4">Distinctio velit eum veritatis voluptatem. Illum sit expedita
                    perspiciatis qui nisi quia neque.
                    Error eligendi officiis enim. Quam a et.
                </div>
                <ul class="space-y-2">
                    <li><i class="text-secondary-500 fas fa-circle-check mr-2"></i>Magnam est quia ea molestiae et
                        aliquam aut.
                    </li>
                    <li><i class="text-secondary-500 fas fa-circle-check mr-2"></i>Rerum nulla optio eius qui aut vero
                        ut.
                    </li>
                    <li><i class="text-secondary-500 fas fa-circle-check mr-2"></i>Qui quae qui aut sequi dolorum
                        consectetur saepe.
                    </li>
                    <li><i class="text-secondary-500 fas fa-circle-check mr-2"></i>Praesentium perspiciatis nemo earum
                        ducimus iste eos.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="max-w-7xl mx-auto px-4 my-16">
        <div class="grid md:grid-cols-2 gap-8">
            <div class="pt-8">
                <div class="text-secondary-500 uppercase mb-4">SMART FEATURES & FUNCTIONALITIES</div>
                <h2 class="text-4xl md:w-10/12">Get in front of potential customers first</h2>
                <div class="text-neutral-400 text-sm py-4 md:w-10/12">Exercitationem et est ut modi molestiae quia.
                    Veniam
                    aut veniam ipsam laborum ut voluptatem qui
                    dolorem. Incidunt nam tempore sequi doloribus et qui facilis ut. Ut ad fugit veritatis nesciunt amet
                    consequatur. Deleniti asperiores quas autem. Explicabo iusto praesentium eos commodi ea et.
                </div>
            </div>
            <div>
                <img src="/images/banner2.svg">
            </div>
        </div>
    </div>
    <div class="max-w-7xl mx-auto px-4 my-16">
        <div class="grid md:grid-cols-2 gap-8 p-8 rounded-md shadow-lg">
            <div>
                <h2 class="text-xl md:w-8/12">Search engine optimization with 100% ROI guaranteed</h2>
                <div class="text-neutral-400 my-4 md:w-8/12">Sunt dicta et impedit. Similique iste consequatur voluptas
                    voluptatibus corporis. Nisi fuga qui
                    quasi assumenda. Libero dolores aut autem harum aspernatur magni eaque. Commodi ab molestiae et
                    doloremque sint.
                </div>
                <a class="bg-secondary-500 rounded-full py-2 px-6 text-white hover:bg-secondary-400 hover:text-white"
                   href="#">About US</a>
            </div>
            <div>
                <img src="/images/banner3.svg">
            </div>
        </div>
    </div>
    <div class="max-w-7xl mx-auto px-4 my-16">
        <div class="text-center">
            <div class="uppercase text-secondary-500">Latest Blog</div>
            <h2 class="text-2xl mt-4 mb-8">Read Our Latest Blog</h2>
        </div>
        <div class="grid md:grid-cols-3 gap-8">
            {% for post in site.posts limit:3 %}
            {% include post.html %}
            {% endfor %}
        </div>
    </div>
</main>
{% include sidebar.html %}
{% include footer.html %}
</body>
</html>
