<!DOCTYPE html>
<html lang="{{ site.lang }}">
{% include head.html %}
<body>
{% include header.html %}
<main>
    <div class="bg-secondary-500">
        <div class="max-w-7xl mx-auto px-4 py-16">
            <h1 class="text-white text-center text-xl">WordPress & Shopify Plugins</h1>
        </div>
    </div>
    <div class="max-w-7xl mx-auto px-4 my-16">
        <div class="grid md:grid-cols-3 gap-8">
            {% for plugin in site.data.plugins %}
                {% include plugin.html %}
            {% endfor %}
        </div>
    </div>
</main>
{% include sidebar.html %}
{% include footer.html %}
</body>
</html>
